@use "reset";
@use "variables" as *;

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: $gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;

  
  #sort {
    position: absolute;
    top: 80px;
    left: 28px;

    &:hover + label input {
      animation: blinker 1.3s steps(5,start) infinite;
    }
  }
  

  @keyframes blinker {
    50% {
      opacity: 0.1;
    }
  }

  label {
    color: $ocher;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 66px;

    input {
      position: absolute;
      top: 18px;
      left: -30px;
      transform: scale(2);
      cursor: pointer !important;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        background: $gray;
        border: 1px solid $ocher;
        display: block;
        position: relative;
      }

      &:checked::after {
        content: url(icon.svg);
        position: absolute;
        top: calc(50% + 1px);
        left: 54.9%;
        transform: translate(-50%, -50%);
      }
    }
  }

  #container {
    width: 346px;
    position: absolute;
    top: 162px;
    left: 30px;

    a,
    p {
      color: black;
      font-size: 22px;
      padding-bottom: 42px;
      display: block;

      &:hover {
        font-weight: bold;
      }
    }

    a:hover {
        color: $ocher;
      }
  }

  #gn {
    position: absolute;
    left: 336px;
    bottom: 51px;
    transform: rotate(-90deg);

    &:hover {
      font-weight: bold;
    }
  }

  #gl {
    position: absolute;
    padding-left: 90px;
    left: 315px;
    bottom: 1px;
    
    &:hover {
      font-weight: bold;
    }
  }
}

.y > text:nth-child(12) {
  display: none;
}

.axis {
  text {
    font: 10px;

    &:hover {
      font-weight: bold;
    }
  }

  path,
  line {
  fill: none;
  stroke: $black;
  shape-rendering: crispEdges;
  }
}

.x.axis path {
  display: none;
}

.bar {
  fill: $ocher;
  fill-opacity: 0.8;

  &:hover {
    fill-opacity: 1;
  }
}