@import "reset";
@import "variables";

// body {
//   background-color: #797979;
//   color: #cfcfcf;
// }
// div {
//   line-height: 15px;
//   margin-bottom: 3px;
//   text-align: end;
// }
.y > text:nth-child(12) {
  display: none;
}

body {
  width: 400px;
  background-color: $gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: $black;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bar {
  fill: $ocher;
  fill-opacity: 0.8;
}